<p>
    You'll be playing a simplified version of the Overcooked video game. Your goal is to collaborate with your AI partner to cook and deliver as many dishes as possible before time runs out.
</p>

<p>
    Here's how the experiment will work:
    <ol>
        <li>You'll play one 45-second round with an AI partner.</li>
        <li>Then, you'll play another 45-second round with a different AI partner.</li>
        <li>After these two rounds, you'll indicate which partner you preferred and provide an evaluation of the partners.</li>
        <li>This process will repeat 10 times, with different game layouts and AI partners each time.</li>
    </ol>
</p>

<center><img src="static/assets/overcooked/exp2-2_experiment_flow.png" alt="Experiment Flow"></center>

<p>
    The bonus will be based on a tiered system of achievement:
    <ul>
        <li>If you deliver less than 30 dishes total, you will receive a $0 bonus.</li>
        <li>If you deliver at least 30 dishes total, you will receive $0.02 per dish delivered. This means that if you deliver 30 dishes, you'll receive a bonus of 30 x $0.02 = $0.60.</li>
        <li>If you deliver at least 60 dishes total, you will receive a $0.05 bonus per dish delivered. For example, if you deliver exactly 60 dishes, you'll receive a bonus of 60 x $0.05 = $3.00.</li>
    </ul>
    We expect participants who engage in the task to deliver well over 60 dishes total throughout the experiment.

</p>


<p>
    <b>Click "Continue" to start the tutorial.</b>
</p>
